fulltrustsolutionsbuild/BuildProcessTemplateEditor/obj/
CommonDepedency/CommonDepedency/obj/
CommonDepedency/CommonDepedency/pkg/
CommonDepedency/CommonDepedency/pkgobj/
CommonDepedency/CommonDepedency/CommonDepedency.csproj.user
CommonDepedency/CommonDepedency.v12.suo
CommonDepedency/CommonDepedency.Resiliance/obj/
